# server log
logs/*

# swap files
*.swp
*.swo

# dont track responses in repo
src/dams_mcda/responses/*

# dont track matlab ISO
matlab-source/*

# dont track license file
matlab-license/*

# dont track sams source files
SamMATLAB/*
