version: "2"

services:
  shiny_server:
    build: .
    ports:
      - "3838:3838"
    volumes:
      - ./src:/srv/shiny-server:rw
      - ./logs:/var/log/shiny-server
      - ./matlab-license:/media/matlab-license
      # MATLAB installation ISO mounted on host
      - /media/mathworks:/media/mathworks
    # restart always can be problematic when not launching a production server
    #restart: always
    entrypoint:
      - bash
      - install-matlab.sh
