<VirtualHost *:80>
	ServerAdmin thesythel@gmail.com
	ServerName localhost
	DocumentRoot /code/shiny_server

	ErrorLog /code/shiny_server/logs/error_apache.log

	ProxyRequests Off
	ProxyPreserveHost On

	AllowEncodedSlashes NoDecode

	<Proxy *>
		Require all granted
	</Proxy>

	Header add Set-Cookie "ROUTEID=.%{BALANCER_WORKER_ROUTE}e; path=/" env=BALANCER_ROUTE_CHANGED
	# shiny server
	<Proxy "balancer://shinycluster">
		BalancerMember "http://127.0.0.1:3838/dams_mcda" route=1
		BalancerMember "http://127.0.0.1:3737/dams_mcda" route=2
		ProxySet stickysession=ROUTEID
	</Proxy>

	# load balance
	ProxyPass /dams_mcda "balancer://shinycluster" nocanon
	ProxyPassReverse /dams_mcda "balancer://shinycluster"

	# no load balance
	#ProxyPass /dams_mcda http://127.0.0.1:3838/dams_mcda nocanon
	#ProxyPassReverse /dams_mcda http://127.0.0.1:3838/dams_mcda

	# django auth and administration
	ProxyPass / http://127.0.0.1:3939/ nocanon
	ProxyPassReverse / http://127.0.0.1:3939/
	#ProxyPassReverse / http://shiny.gsscdev.com:3939/

	#Include conf-enabled/maintenance.conf
</VirtualHost>

#<IfModule mod_ssl.c>
#<VirtualHost *:443>
#	ServerAdmin thesythel@gmail.com
#	ServerName shiny.gsscdev.com
#	DocumentRoot /docker-web/staging/shiny_server
#
#	ErrorLog /docker-web/logs/shiny_server/error_apache.log
#
#	ProxyRequests Off
#	ProxyPreserveHost On
#
#	AllowEncodedSlashes NoDecode
#
#	<Proxy *>
#		Require all granted
#	</Proxy>
#
#	RewriteEngine on
#	RewriteCond %{REQUEST_URI} ^/$
#	RewriteRule ^(.*)$ https://shiny.gsscdev.com/dams_mcda/
#
