{% extends 'auth_base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/shiny-app-wrapper.css' %}" type="text/css">
{% endblock %}

{% block body_attrs %}class="text-center"{% endblock %}


{% block content %}
<div class="container">
	<form method="post" class="form-signin">
		<h2 class="h3 mb-3 font-weight-normal">Login</h2>
		{% csrf_token %}
			{% for field in form %}
			<div class="row">
				<div class="col-3">
					{{ field.label }}
				</div>
				<div class="col-9">
					{% if field.errors %}
					<span style="color:red;">
						{{ field.errors }}
					</span>
					{% endif %}

					{{ field }}<br>

					{% if field.help_text %}
					<span style="color:grey; font-size:0.8em;">
						{{ field.help_text }}
					</span>
					<br>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
	<a href="{% url 'register' %}">
		Create an account
	</a>

	{# Assumes you setup the password_reset view in your URLconf #}
	<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

</div>
{% endblock %}

{% block login %}
<!-- remove login links from page -->
{% endblock login %}
