.dam-not-complete {
	color:red;
}
.dam-complete {
	color:green;
}
.complete {
	color:green;
}
.not-complete {
	color:red;
}

#page-title{
	font-size:4em;
	text-align:center;
}

#app-logout {
	float:right;
	display:inline-block;
}

/* input form width */
.form-group.shiny-input-container {
	width:80%;
}

/* sidebar headers */
.navbar-brand {
	height:auto;
	padding:0.2em;
}

/* progress indicators */

#Alt1Progress,
#Alt2Progress,
#Alt3Progress,
#Alt4Progress,
#Alt5Progress,
#Alt6Progress,
#Alt7Progress
{
	position: -webkit-sticky;
	position: sticky;
	float:right;
	top:2em;
	font-weight:700;
	background-color:white;
	padding:1em;
	border:1px solid #818181;
	border-radius:0.6em;
	box-shadow:1px 1px 1px silver;
	z-index:7;
}

/* update button*/
#updateBtn1, #updateBtn2, #updateBtn3, #updateBtn4, #updateBtn5, #updateBtn6, #updateBtn7, #updateBtn8{
	width:80%; /* same width as form */
	color:#fff;
	background-color:#337ab7;
	border-color:#2e6da4;
	margin-bottom:0.8em;
}
#updateBtn1:hover, #updateBtn2:hover, #updateBtn3:hover, #updateBtn4:hover, #updateBtn5:hover, #updateBtn6:hover, #updateBtn7:hover, #updateBtn8:hover,{
	background-color: #286090;
	border-color: #204d74;
}
#updateBtn1:active, #updateBtn2:active, #updateBtn3:active, #updateBtn4:active, #updateBtn5:active, #updateBtn6:active, #updateBtn7:active, #updateBtn8:active {
	background-color: #286090;
	border-color: #204d74;
}

/* file upload confirm button */

#confirmUploadBtn{
	width:80%; /* same width as form */
	color:#fff;
	background-color:#239b1c;
	border-color:#1e7519;
	margin-bottom:0.2em;
}
#confirmUploadBtn:hover{
	background-color:#1f821a;
	border-color:#3ebb37;
}
#confirmUploadBtn:active{
	background-color:#1f821a;
	border-color:#3ebb37;
}

#generateMatrix {
	width:80%; /* same width as form */
	color:#fff;
	background-color:#337ab7;
	border-color:#2e6da4;
	margin-bottom:0.8em;
}
#downloadData {
	width:80%; /* same width as form */
	margin-bottom:0.8em;
}


/* -- tab colors == */
a[data-value="Start Here"] {
	background-color:#789090 !important;
	color:white !important;
}
a[data-value="Start Here"]:hover {
	background-color:#548c8c !important;
}
li.active > a[data-value="Start Here"] {
	background-color:#327c7c !important;
}

a[data-value="Developers"]{
	background-color:#a8c090 !important;
	color:#4e4e4e !important;
}
a[data-value="Developers"]:hover {
	background-color:#8dbe5c !important;
}
li.active > a[data-value="Developers"] {
	background-color:#44ad47 !important;
}

a[data-value="Acknowledgements"]{
	background-color:#a8c090 !important;
	color:#4e4e4e !important;
}
a[data-value="Acknowledgements"]:hover {
	background-color:#8dbe5c !important;
	color:#4e4e4e !important;
}
li.active > a[data-value="Acknowledgements"] {
	background-color:#44ad47 !important;
}

.nav > li > a[data-toggle="tab"]{
	background-color:#F0D8A8;
}
.nav > li > a[data-toggle="tab"]:hover{
	background-color:#F6CB75;
}
.nav > li.active > a[data-toggle="tab"]{
	background-color:#F9C04C;
}

.nav > li > a[data-value="Results"]{
	background-color:#F0c0A8;
	color:#4e4e4e !important;
}

.nav > li > a[data-value="Results"]:hover{
	background-color:#f3a57b !important;
	color:#4e4e4e !important;
}

.nav > li.active > a[data-value="Results"]{
	background-color:#f09768 !important;
}


/* text colors */

a[data-toggle="tab"] div{
	color:#4e4e4e !important;
}
a[data-toggle="tab", aria-expanded="true"] div{
	color:white !important;
}
a[aria-expanded="true"] div{
}


/* label unbold */
label {
	font-weight:500;
}

/* modal */
.modal-dialog {
	margin-top:8%;
}

/* dam map data table */
table.map-data {
	width:100%;
}
table.map-data tr td{
	border:1px solid black;
	padding:1px;
}
table.map-data tr:nth-child(odd) td{
	background-color:#dedede;
}
table.map-data tr td:nth-child(2){
	text-align:center;
}

/* total progress tracker */
#progress-tracker{
	position:fixed;
	bottom:0px;
	width:100%;
	text-align:center;
	background-color:#ffffff9e;
	z-index:999;
}

